In [59]:
import pandas as pd
import matplotlib.pyplot as plt

In [71]:
df = pd.read_csv('./datasheets/meteorite-landings.csv')
total_rows = df.shape[0]
print("Total number of rows in df:", total_rows)

Total number of rows in df: 45716

In [72]:
df['GeoLocation'] = df['GeoLocation'].fillna('99999999')

In [73]:
null_zero_counts = df.isin([0, '99999999', None, '(0.000000, 0.000000)']).sum()
year_greater_than_2013_count = (df['year'] > 2013).sum()

null_zero_df = pd.DataFrame({'Invalid Values': null_zero_counts})
year_count_df = pd.DataFrame({'Invalid Values': year_greater_than_2013_count}, index=['year'])

counts_df = pd.concat([null_zero_df, year_count_df])

counts_df.index.name = 'Column'

print(counts_df)

             Invalid Values
Column
name                      0
id                        0
nametype                  0
recclass                  0
mass                     19
fall                      0
year                      0
reclat                 6438
reclong                6214
GeoLocation           13529
year                      2

In [74]:
df = df[~((df['GeoLocation'] == '99999999') | (df['GeoLocation'] == '(0.000000, 0.000000)'))]
df = df[(df['mass'] != 0) & (~df['mass'].isnull())]

df = df[(df['year'] <= 2013)]

df.reset_index(drop=True, inplace=True)

null_zero_counts = df.isin([0, '99999999',None, '(0.000000, 0.000000)']).sum()
year_greater_than_2013_count = (df['year'] > 2013).sum()

null_zero_df = pd.DataFrame({'Invalid Values': null_zero_counts})
year_count_df = pd.DataFrame({'Invalid Values': year_greater_than_2013_count}, index=['year'])

counts_df = pd.concat([null_zero_df, year_count_df])

counts_df.index.name = 'Column'

print(counts_df)

             Invalid Values
Column
name                      0
id                        0
nametype                  0
recclass                  0
mass                      0
fall                      0
year                      0
reclat                  224
reclong                   0
GeoLocation               0
year                      0

In [75]:
total_rows = df.shape[0]
print("Total number of rows in df:", total_rows)

Total number of rows in df: 31912

In [79]:
duplicates_mask = df.duplicated(subset=['GeoLocation'], keep=False)
duplicates = df[duplicates_mask]
duplicates_sorted = duplicates.sort_values(by='GeoLocation')
display(duplicates_sorted.head(20))

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
20286,Patos de Minas (hexahedrite),18113,Valid,"Iron, IIAB",32000.0,Found,1925.0,-18.58333,-46.53333,"(-18.583330, -46.533330)"
20287,Patos de Minas (octahedrite),18114,Valid,"Iron, IAB complex",200000.0,Found,1925.0,-18.58333,-46.53333,"(-18.583330, -46.533330)"
15758,Kalahari 009,30738,Valid,Lunar (basalt),13500.0,Found,1999.0,-20.98180,22.97660,"(-20.981800, 22.976600)"
15757,Kalahari 008,30737,Valid,Lunar (anorth),585.0,Found,1999.0,-20.98180,22.97660,"(-20.981800, 22.976600)"
25063,Rooikop 001,22652,Valid,H5,1039.0,Found,1991.0,-23.08333,14.71500,"(-23.083330, 14.715000)"
25064,Rooikop 002,22653,Valid,L5,903.0,Found,1991.0,-23.08333,14.71500,"(-23.083330, 14.715000)"
25065,Rooikop 003,22654,Valid,L4/5,902.0,Found,1991.0,-23.08333,14.71500,"(-23.083330, 14.715000)"
20254,Pampa (g),18089,Valid,L5,2900.0,Found,2000.0,-23.18333,-70.43333,"(-23.183330, -70.433330)"
20253,Pampa (f),18088,Valid,L4/5,1300.0,Found,2000.0,-23.18333,-70.43333,"(-23.183330, -70.433330)"
20250,Pampa (c),18085,Valid,L4,25000.0,Found,1986.0,-23.20000,-70.43333,"(-23.200000, -70.433330)"
20251,Pampa (d),18086,Valid,L5,12800.0,Found,1986.0,-23.20000,-70.43333,"(-23.200000, -70.433330)"
20252,Pampa (e),18087,Valid,L6,10000.0,Found,1987.0,-23.20000,-70.43333,"(-23.200000, -70.433330)"
20248,Pampa (a),18083,Valid,L6,380.0,Found,1986.0,-23.20000,-70.43333,"(-23.200000, -70.433330)"
20249,Pampa (b),18084,Valid,L4/5,10000.0,Found,1986.0,-23.20000,-70.43333,"(-23.200000, -70.433330)"
15863,La Yesera 001,12406,Valid,H6,205.0,Found,2003.0,-23.27050,-70.48300,"(-23.270500, -70.483000)"
15864,La Yesera 002,12407,Valid,LL5,2625.0,Found,2003.0,-23.27050,-70.48300,"(-23.270500, -70.483000)"
15715,Joel's Iron,12175,Valid,"Iron, IIIAB",1300.0,Found,1858.0,-24.00000,-69.00000,"(-24.000000, -69.000000)"
5232,Carcote,5267,Valid,H5,392.0,Found,1888.0,-24.00000,-69.00000,"(-24.000000, -69.000000)"
5150,Caleta el Cobre 009,54627,Valid,L4,95.0,Found,2010.0,-24.25000,-70.51667,"(-24.250000, -70.516670)"
5143,Caleta el Cobre 002,54620,Valid,H6,18.0,Found,2010.0,-24.25000,-70.51667,"(-24.250000, -70.516670)"

In [80]:
df.to_csv('./datasheets/meteorite_landings_cleaned.csv', index=False)